name: Initialize, Check XML Changes, and Process XML Files

on:
  schedule:
    - cron: '22 */1 * * *'
  workflow_dispatch:

jobs:
  initialize-check-process:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y curl jq libxml2-utils

      - name: Initialize and Check XML Files
        id: initialize-and-check
        run: |
          set -e
          mkdir -p origin dist

          while IFS=, read -r filename url || [ -n "$filename" ]; do
            echo "Processing: $filename from $url"

            if [ -z "$filename" ] || [ -z "$url" ]; then
              echo "Warning: Missing filename or URL in list.txt"
              continue
            fi

            filepath="origin/$filename"
            temp_filepath="temp_$filename"

            echo "Downloading $filename from $url"
            set +e
            status_code=$(curl -s -o "$temp_filepath" -w "%{http_code}" "$url")
            curl_exit_code=$?
            set -e

            if [ $curl_exit_code -ne 0 ]; then
              echo "Curl command failed with exit code $curl_exit_code. Skipping $filename."
              rm -f "$temp_filepath"
              continue
            fi

            if [ "$status_code" -ne 200 ]; then
              echo "Failed to download $url. HTTP status code: $status_code"
              rm -f "$temp_filepath"
              continue
            fi
            echo "Downloaded $filename to $temp_filepath"

            if [ -f "$filepath" ]; then
              if cmp -s "$temp_filepath" "$filepath"; then
                echo "No changes detected in $filename."
                rm "$temp_filepath"
              else
                echo "Changes detected in $filename. Backing up current file and updating origin."
                cache_dir="cache/$(basename "$filename" .xml)"
                mkdir -p "$cache_dir"
                timestamp=$(date +"%Y%m%d%H%M%S")
                cp "$filepath" "$cache_dir/$filename.$timestamp"
                backups=($(ls -1t "$cache_dir/$filename."*))
                if [ "${#backups[@]}" -gt 10 ]; then
                  echo "More than 10 backups exist for $filename, removing oldest backups."
                  for backup in "${backups[@]:10}"; do
                    rm "$backup"
                  done
                fi
                mv "$temp_filepath" "$filepath"
              fi
            else
              echo "Origin file for $filename does not exist. Initializing."
              mv "$temp_filepath" "$filepath"
            fi
          done < list.txt

      - name: Process XML Files
        run: |
          echo "Processing XML files in origin/ and outputting to dist/"
          mkdir -p dist

          for file in origin/*.xml; do
            filename=$(basename "$file")
            echo "Processing $filename"
            python remove_attributes.py "$file" "dist/$filename"
          done
      - name: Format XML Files
        run: |
          echo "Formatting XML files in dist/"
          for file in dist/*.xml; do
            echo "Formatting $file"
            xmllint --format "$file" -o "$file"
          done

      - name: Commit and Push Changes
        run: |
          echo "Checking for changes..."
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
      
          git status
      
          git add origin/ dist/ cache/
      
          git status
      
          if git diff-index --cached --quiet HEAD --; then
            echo "No changes detected. No updates to commit."
          else
            echo "Changes detected. Committing and pushing..."
            current_time=$(TZ='Asia/Shanghai' date '+%Y-%m-%d %H:%M:%S')
            git commit -m " $current_time - Update XML files and process outputs"
            git push
          fi
